/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as environments from "../../../../environments";
import * as core from "../../../../core";
import { RavenApi } from "@ravenapp/raven";
import urlJoin from "url-join";
import * as serializers from "../../../../serialization";
import * as errors from "../../../../errors";

export declare namespace Client {
    interface Options {
        environment?: environments.RavenApiEnvironment | string;
        authorization?: core.Supplier<string>;
    }
}

export class Client {
    constructor(private readonly options: Client.Options) {}

    /**
     * Add Device for a User.
     * If a device_sid is specified, then devices will be merged if one is found.
     * If no device_sid is specified, then a new device will be created.
     *
     */
    public async add(
        appId: RavenApi.AppId,
        userId: RavenApi.UserId,
        request: RavenApi.Device
    ): Promise<RavenApi.Device> {
        const _response = await core.fetcher({
            url: urlJoin(
                this.options.environment ?? environments.RavenApiEnvironment.Prod,
                `/v1/apps/${appId}/users/${userId}/devices`
            ),
            method: "POST",
            headers: {
                Authorization: await core.Supplier.get(this.options.authorization),
            },
            body: await serializers.Device.json(request),
        });
        if (_response.ok) {
            return await serializers.Device.parse(_response.body as serializers.Device.Raw);
        }

        if (_response.error.reason === "status-code") {
            throw new errors.RavenApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.RavenApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                });
            case "timeout":
                throw new errors.RavenApiTimeoutError();
            case "unknown":
                throw new errors.RavenApiError({
                    message: _response.error.errorMessage,
                });
        }
    }

    /**
     * Update a Device for a User.
     */
    public async update(
        appId: RavenApi.AppId,
        userId: RavenApi.UserId,
        deviceId: RavenApi.DeviceId,
        request: RavenApi.Device
    ): Promise<RavenApi.Device> {
        const _response = await core.fetcher({
            url: urlJoin(
                this.options.environment ?? environments.RavenApiEnvironment.Prod,
                `/v1/apps/${appId}/users/${userId}/devices/${deviceId}`
            ),
            method: "PUT",
            headers: {
                Authorization: await core.Supplier.get(this.options.authorization),
            },
            body: await serializers.Device.json(request),
        });
        if (_response.ok) {
            return await serializers.Device.parse(_response.body as serializers.Device.Raw);
        }

        if (_response.error.reason === "status-code") {
            throw new errors.RavenApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.RavenApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                });
            case "timeout":
                throw new errors.RavenApiTimeoutError();
            case "unknown":
                throw new errors.RavenApiError({
                    message: _response.error.errorMessage,
                });
        }
    }

    /**
     * Delete a Device for a User
     */
    public async delete(appId: RavenApi.AppId, userId: RavenApi.UserId, deviceId: RavenApi.DeviceId): Promise<void> {
        const _response = await core.fetcher({
            url: urlJoin(
                this.options.environment ?? environments.RavenApiEnvironment.Prod,
                `/v1/apps/${appId}/users/${userId}/devices/${deviceId}`
            ),
            method: "DELETE",
            headers: {
                Authorization: await core.Supplier.get(this.options.authorization),
            },
        });
        if (_response.ok) {
            return;
        }

        if (_response.error.reason === "status-code") {
            throw new errors.RavenApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.RavenApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                });
            case "timeout":
                throw new errors.RavenApiTimeoutError();
            case "unknown":
                throw new errors.RavenApiError({
                    message: _response.error.errorMessage,
                });
        }
    }

    /**
     * Get a Device for a User
     */
    public async getDevice(
        appId: RavenApi.AppId,
        userId: RavenApi.UserId,
        deviceId: RavenApi.DeviceId
    ): Promise<RavenApi.Device> {
        const _response = await core.fetcher({
            url: urlJoin(
                this.options.environment ?? environments.RavenApiEnvironment.Prod,
                `/v1/apps/${appId}/users/${userId}/devices/${deviceId}`
            ),
            method: "GET",
            headers: {
                Authorization: await core.Supplier.get(this.options.authorization),
            },
        });
        if (_response.ok) {
            return await serializers.Device.parse(_response.body as serializers.Device.Raw);
        }

        if (_response.error.reason === "status-code") {
            throw new errors.RavenApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.RavenApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                });
            case "timeout":
                throw new errors.RavenApiTimeoutError();
            case "unknown":
                throw new errors.RavenApiError({
                    message: _response.error.errorMessage,
                });
        }
    }
}
